:root {
  // general
  --system-label: #000000;
  --system-background: #ffffff;
  --system-hyperlink: #249eff;

  // colors
  --system-pink: #ff2d55;
  --system-red: #ff3b30;
  --system-orange: #ff9500;
  --system-yellow: #ffcc00;
  --system-green: #34be59;
  --system-teal: #5ac8fa;
  --system-blue: #007aff;
  --system-indigo: #5856d6;
  --system-purple: #af52de;

  // grays
  --system-gray: #8e8e93;
  --system-gray2: #aeaeb2;
  --system-gray3: #c7c7cc;
  --system-gray4: #d1d1d6;
  --system-gray5: #e5e5ea;
  --system-gray6: #f2f2f7;

}

@media (prefers-color-scheme:dark) {
  :root {
    // general
    --system-label: #ffffff;
    --system-background: #000000;
    --system-hyperlink: #3aa8ff;

    // colors
    --system-pink: #ff375f;
    --system-red: #ff453a;
    --system-orange: #ff9f0a;
    --system-yellow: #ffd60a;
    --system-green: #30d158;
    --system-teal: #64d2ff;
    --system-blue: #0a84ff;
    --system-indigo: #5e5ce6;
    --system-purple: #bf5af2;

    // grays
    --system-gray: #8e8e93;
    --system-gray2: #636366;
    --system-gray3: #48484a;
    --system-gray4: #3a3a3c;
    --system-gray5: #2c2c2e;
    --system-gray6: #1c1c1e;
  }
}

@mixin header-footer {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
}

body {
  background-color: var(--system-background);
  color: var(--system-label);
	font-size: 16px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
}

header, footer {
  @include header-footer;
}

header > div > picture > source,
header > div > picture > img {
    object-fit: scale-down;
    width: 80%;
    max-height: 80%;
}

footer > ul {
   display: inline-block;
   padding: 0;
}

footer > ul > li {
    display: inline;
    padding: 1em;
    float: left;
}

h1 {
  font-size: 5rem;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
}

h2 {
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: -.005em;
}

h3 {
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -.003em;
}

h4 {
  font-size: 3.0rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: .003em;
}

h5 {
  font-size: 2.0rem;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: .005em;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: .015em;
}

small {
  opacity: 0.8;
}

p {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: .012em;
}

a {
  color: var(--system-hyperlink);
  line-height: 1.42115;
  font-weight: 400;
  letter-spacing: .012em;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  max-width: 980px;
  margin: auto;
}

section > h1,
section > h2,
section > h3,
section > h4,
section > h5,
section > h6 {
    text-align: center;
}

.icon {
  font-family: ".SF Symbols Fallback";
}

.three-wide {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 2em;
}

@media (min-width:768px) {
    .three-wide {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2em;
      padding: 2em;
    }
}

// Custom Colors

.system-pink {
  color: var(--system-pink);
}
.system-red {
  color: var(--system-red);
}
.system-orange {
  color: var(--system-orange);
}
.system-yellow {
  color: var(--system-yellow);
}
.system-green {
  color: var(--system-green);
}
.system-teal {
  color: var(--system-teal);
}
.system-blue {
  color: var(--system-blue);
}
.system-indigo {
  color: var(--system-indigo);
}
.system-purple {
  color: var(--system-purple);
}

.system-gray {
  color: var(--system-gray);
}
.system-gray2 {
  color: var(--system-gray2);
}
.system-gray3 {
  color: var(--system-gray3);
}
.system-gray4 {
  color: var(--system-gray4);
}
.system-gray5 {
  color: var(--system-gray5);
}
.system-gray6 {
  color: var(--system-gray6);
}
